.habitCard {
  width: 90%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 17px -8px black;
}
.habitCard__name {
  margin: 0;
  font-weight: 500;
}
.habitCard__frequency {
  margin: 0;
}
.habitCard__startDate {
  margin: 0;
}
.habitCard__finishDate {
  margin: 0;
}