* {
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}
body {
  font-family: 'Open Sans';
  font-size: 16px;
  max-width: 360px;
  margin: 0 auto;
  background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(8,47,89,1) 100%);
  color: white;
}
nav {
  position: absolute;
  bottom: 0;
  width: 360px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0;
}
nav ul li {
  padding: 5px;
  border: 1px solid black;
  flex-grow: 1;
  text-align: center;
  color: white;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
input {
  height: 60px;
  color: white;
  border: 0;
  border-bottom: 3px solid white;
  background: transparent;
  width: 100%;
}
label {
  width: 100%;
  font-size: 1.1rem;
}
.form-group {
  margin: 30px 0;
}
button {
  display: block;
  margin: 10px auto;
  padding: 15px 25px;
  border: 0;
  background-color: #337ab7;
  color: white;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  font-weight: 400;
}
.text-center {
  text-align: center;
}